// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #d6d1d1;
}

h1 {
  font-size: 50px;
  color: #3679aa;
  font-weight: bold;
}

p {
  font-size: 30px;
}
